* {
    background-color: white;
    color: black;
}

body {
    margin: auto 30px;
}

h1 {
    font-size: 80px;
    width: 100wv;
    display: flex;
    justify-content: center; 
}

#section1{
    display: flex;
    justify-content: center;
}

#description{
    width: 20vw;
    text-align: justify;
    font-size: larger;
    padding: 0 20px;
}