* {
    background-color: azure;
    color: black;
}

body {
    margin: auto 30px;
}

h1 {
    font-size: 80px;
    width: 100wv;
    display: flex;
    justify-content: center; 
}

ul {
    display: flex;
    justify-content: space-around; 
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
}


img {
    width: 500px;
    height: 400px;
}

a {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    height: 450px;
    text-decoration: none;
}

.blank-space {
    padding: 30px;
}

img{
    border-radius: 15px;
}